<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  {% if is_debug %}
  <link href="/css/base.css" media="all" rel="stylesheet" type="text/css">
  {% else %}
  <link href="/css/all.css" media="all" rel="stylesheet" type="text/css">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <title>{% block title %}{% endblock %} | Beyond Tabletop</title>
  <meta property="og:title" content="{{ self.title() }} | Beyond Tabletop">
  <meta name="description" property="og:description" content="{% block description %}Pathfinder tools without the Baggage. Replace your role-playing maps and character sheets with Beyond Tabletop - a new non-subscription web application for Pathfinder players.{% endblock %}">
  <meta property="og:image" content="http://www.beyondtabletop.com/ico/favicon-310.png">
  <meta property="og:site_name" content="Beyond Tabletop">

  <link rel="shortcut icon" href="/ico/favicon-16.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/ico/favicon-57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/favicon-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/favicon-72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/favicon-144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/ico/favicon-60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/ico/favicon-120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/ico/favicon-76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/ico/favicon-152.png" />
  <link rel="icon" type="image/png" href="/ico/favicon-196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/ico/favicon-96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/ico/favicon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/ico/favicon-16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/ico/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Beyond Tabletop"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/ico/favicon-144.png" />
  <meta name="msapplication-square70x70logo" content="/ico/favicon-70.png" />
  <meta name="msapplication-square150x150logo" content="/ico/favicon-150.png" />
  <meta name="msapplication-wide310x150logo" content="/ico/favicon-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/ico/favicon-310.png" />

  <meta name="apple-mobile-web-app-title" content="BTT">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->

  <!-- iOS 6 & 7 iPad (retina, portrait) -->
  <link href="/ico/apple-startup-1536x2008.png"
    media="(device-width: 768px) and (device-height: 1024px)
       and (orientation: portrait)
       and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPad (retina, landscape) -->
  <link href="/ico/apple-startup-1496x2048.png"
    media="(device-width: 768px) and (device-height: 1024px)
       and (orientation: landscape)
       and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 iPad (portrait) -->
  <link href="/ico/apple-startup-768x1004.png"
    media="(device-width: 768px) and (device-height: 1024px)
       and (orientation: portrait)
       and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 iPad (landscape) -->
  <link href="/ico/apple-startup-748x1024.png"
    media="(device-width: 768px) and (device-height: 1024px)
       and (orientation: landscape)
       and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPhone 5 -->
  <link href="/ico/apple-startup-640x1096.png"
    media="(device-width: 320px) and (device-height: 568px)
       and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPhone (retina) -->
  <link href="/ico/apple-startup-640x920.png"
    media="(device-width: 320px) and (device-height: 480px)
       and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image">

  <!-- iOS 6 iPhone -->
  <link href="/ico/apple-startup-320x460.png"
    media="(device-width: 320px) and (device-height: 480px)
       and (-webkit-device-pixel-ratio: 1)"
    rel="apple-touch-startup-image">
  

  {% block scripts %}
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
  {% endblock %}
  {% endblock %}
</head>
{% block body %}
<body id="app" class="{% block slug %}app{% endblock %}-page">
  <div id="container">
    <header>
      {% block header %}
      <div class="fixed">Beyond Tabletop</div>
      {% endblock %}
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div><!--/content-->
    <footer>
      {% block footer %}
      <div class="fixed">
        <div class="inner">
          <p>&copy; 2014 <a href="http://www.wiseromeos.com">Wise Romeos</a></p>
          <div class="social-footer">
            <a href="https://twitter.com/beyondtabletop" class="social-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/pages/Beyond-Tabletop/221970904611220" class="social-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/+Beyondtabletop" class="social-google" target="_blank"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      {% endblock %}
    </footer>
  </div>
  {% block analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38757918-1', 'auto');
    {% if user_id %}
    ga('set', '&uid', {{ user_id }}); // Set the user ID using signed-in user_id.
    {% endif %}
    ga('send', 'pageview');
  </script>
  {% endblock %}
</body>
{% endblock %}
</html>